/*Variables en CSS*/
:root{

    --primary-color:#000033;
    --bg-card-color:#062f4f;
    --color-title:#fff;
    --color-text:gray;    
}


body{
    /*resetea los margenes*/
    margin: 0;
    background-color:  var(--primary-color);
}

.grid-container {
    
   display: grid;
   grid-template-columns: 25% 25% 40% ;
   grid-gap: 10px;
   padding: 10px;

}

 div {
    
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    
  }


/*Aside personal information*/

.personalInformation{
    margin-top: 10px;
    display: grid;
    grid-template-rows: 45% 50%;
    width: auto;
    
    row-gap: 5px;
    grid-row: 1 / 4;/*Con esto me dejo poner Projects en la mitad de la pantalla */
}

.personal-section{
    margin: 0;
    background-color:var(--bg-card-color);
    border-radius: 5px;
    
}

.personal-section img{

    width: 70%;
    height: inherit;/*Tomando el tamaño del contenedor*/
    border-radius: 5%;
    
}

.personal-section h2{
    font-size: 20px;
    color: var(--color-title);
    /*font-family: 'Acme', sans-serif;*/
    text-align: left;
    padding-left: 40px;
}
.personal-section p{
    font-size: 20px;
    text-align: justify;
    padding: 12px;
}


.experience{
    
    display: grid;
    grid-template-rows: 10% 27% 27% 27%  ;
    background-color:var(--bg-card-color);
    margin-top: 10px;
    border-radius: 5px;
    row-gap: 5px;

}

.principaltitle{

    margin-top: 20;
    font-size: 22px;
    color: var(--color-title);
    text-align: left;
    padding-left: 40px;
    
}

.experienceItem{
    display: inline-flex;
    margin: 0;    
    border:solid 2px white;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
    
}

.image-experience{
/* background-color: red;*/
    
    height: 95%;
    width: 60%;
}

.image-experience img{
    width: inherit;
    
}

.information-experience{
    width: 80%;
    color: gray;
    padding-right: 6px;


}


.experienceItem h3{
    font-size: 15px;
    text-align: justify;
}

/*End aside personal information*/

/*Section knowledge*/
.knowledge{
    
    margin-top: 10px;
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-column: 2 / 6;
    /*background-color: gray;*/
    height: 10%;
    column-gap: 5px;
}

.developer{
    background-color:var(--bg-card-color);
    padding: 0;
    border: radius 5px; 
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.title{
    font-size: 15px;
    text-align: start;
    color:var(--color-title );
    background-color: rebeccapurple;
    padding:0;
    margin-left: 10px;
}

.text{

    font-size: 15px;
    text-align: justify;
    background-color: red;
    padding: 0;
    margin-left: 10px;
    margin-right: 5px;
}

/*End section knowledge*/


/*Main projects*/

.projects{
    
    display: grid;
    grid-column: 2 / 6;
    padding: 0;
    grid-template-rows: auto auto auto;
    row-gap:5px ;
}

.container-projects{
    background-color: var(--bg-card-color);
    border-radius: 5px;

}

.image-projects{
    display: inline-flex;    
    height: inherit;
    background-color: rebeccapurple;
}



/*End projects*/























